@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
html{
  font-size: 12px;
}
.navbar{
    background-color:aliceblue
}

#websiteHeader{
    font-family: 'Lobster';
    font-size: 50px;
    right: 50%;
    padding: 1%;
    padding-top: 0.5%;
    background-color: darkcyan;
    color: aliceblue;
    border-radius: 50%;
}

.buttons {
    right: 5%;
  }

#newTaskBtn{
    background-color: darkcyan;
    color: aliceblue;
    border: none;
  }

#newTaskBtn:hover {
    opacity: 0.8;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid aliceblue;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

.currentTasksContainer{
    margin-top: 5%;
  }

.taskColumns{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-gap: 1%;
    text-align: center;
    margin: 2% 5%;
  }

.columns{
    text-align: center;
  }

h4{
    margin: 0;
  }

.columnHeaders{
    width: 25%;
    background-color: darkcyan;
    color: aliceblue;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border: 1px solid aliceblue;
    border-radius: 4px;
  }

.columnCardBody{
    width: 100%;
  }

.cards{
    width: 100%;
    border: 2px solid darkcyan;
    overflow: scroll;
    height: 190px;
    margin-top: 5%;
  }

.taskCardButtons{
    background-color: darkcyan;
    color: aliceblue;
    border: none;
    width: 25%;
  }


